.tabs-wrapper {
    padding: 8px;
}

.tabs-header {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.tab-item {
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    color: #000;
    background: #fff;
}

.active {
    border-color: #000;
    background: #000;
    color: #11b2c3;
}

.content {
    padding: 20px 10px;
    height: 300px;
    overflow: auto;
    background-color: #fff;
    font-size: 50px;
}